  <%- include('includes/head.ejs') %>
  <body>
    <% if(hasProdcuts){ %>
    <h1>List of Products</h1>
      <% for(let prod of prods) { %>
        <%=prod.title%> <%=prod.Price %>
        <br/>
      <% } %>
    <% } else{ %>
      <h1>Nothing Found </h1>
    <% }%>
  </body>
  <%- include('includes/end.ejs') %>
